<html>

<head>
    <title>{{Home}}</title>

<style>
a{
    text-decoration: none;
    color: black
}
    .navBar{
        display: flex;
        align-items: center;
        background: #333;
        flex-direction: row;
        height: 80px;
    }

    .navDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        background: skyblue;
        color: #333;;
        height: 30px;;
        border: 1px grey solid;
        margin: 5%;
        padding: 10px ;
        border-radius: 5px;
    }
    
  
</style>
</head>

<body>
    <script>
        window.fbAsyncInit = () => {
            FB.init({
                appId: '383478985863386',
                cookie: true,
                xfbml: true,
                version: 'v4.0'
            });
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
            FB.AppEvents.logPageView();

        };

        ((d, s, id) => {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        },(document, 'script', 'facebook-jssdk'));
    </script>

    {{{ body }}}
</body>

</html>